#########################################
# FOR IDEA
#########################################


.idea
*/.idea
*/*/.idea
*/*/*/.idea

.gradle


.DS_Store
settings.json

#########################################
# FOR ECLIPSE
#########################################
.settings
*/.settings
*/*/.settings
*/*/*/.settings

bin
*/bin
*/*/bin
*/*/*/bin

.mymetadata
*/.mymetadata
*/*/.mymetadata
*/*/*/.mymetadata

.project
*/.project
*/*/.project
*/*/*/.project

.class
*/.class
*/*/.class
*/*/*/.class

.classpath
*/.classpath
*/*/.classpath
*/*/*/.classpath


#########################################
# FOR MAVEN
#########################################
target
*/target
*/*/target
*/*/*/target


#########################################
# FOR DOC
#########################################
.output
*/.output
*/*/.output
*/*/*/.output
*/*/*/*/.output
documentation/99-output


#########################################
# FOR OTHERS
#########################################
.war
.zip
.rar

.~*
*/.~*
*/*/.~*
*/*/*/.~*
.DS_Store
.vscode/settings.json
.vscode/settings.json


.idea
*.iml
*.bat
pull_push.bat
application-local.yml


*/*.log
